@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

legend {
  display: table;
  padding: 0;
}
fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @include type-body-1;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  width: 100%;
}

*:focus {
  outline: 2px solid $token-color-focus;
  outline-offset: 2px;

  &:focus-visible {
    outline: 2px solid $token-color-focus;
    outline-offset: 2px;
  }

  /* 3 */
  &:not(:focus-visible) {
    outline: none;
  }
}
