$token-color-base-grey-50: #f8f8f9;
$token-color-base-grey-100: #d6dbe0;
$token-color-base-grey-200: #bcc4cd;
$token-color-base-grey-300: #a2adb9;
$token-color-base-grey-400: #8896a5;
$token-color-base-grey-500: #6d7e92;
$token-color-base-grey-600: #586574;
$token-color-base-grey-700: #424c57;
$token-color-base-grey-800: #2c333a;
$token-color-base-grey-900: #16191d;

$token-color-focus: #71a5fe;

$token-size-base-space-small-1: 0.25rem;
$token-size-base-space-small-2: 0.5rem;
$token-size-base-space-small-3: 0.75rem;
$token-size-base-space-medium-1: 1rem;
$token-size-base-space-large-1: 1.25rem;
$token-size-base-space-large-2: 1.5rem;
$token-size-base-space-large-3: 2rem;

$token-size-border-radius-1: 0.5rem;

$token-type-body-1-size: 1rem;
$token-type-body-1-weight: 400;
$token-type-body-1-height: 1.5rem;
$token-type-body-1-spacing: auto;

$token-type-body-2-size: 0.875rem;
$token-type-body-2-weight: 400;
$token-type-body-2-height: 1.25rem;
$token-type-body-2-spacing: -0.5%;

$token-type-headline-1-size: 3rem;
$token-type-headline-1-weight: 500;
$token-type-headline-1-height: 3.25rem;
$token-type-headline-1-spacing: -3%;

$token-type-headline-2-size: 2rem;
$token-type-headline-2-weight: 500;
$token-type-headline-2-height: 2.5rem;
$token-type-headline-2-spacing: -3%;

$token-type-headline-3-size: 1.5rem;
$token-type-headline-3-weight: 600;
$token-type-headline-3-height: 2rem;
$token-type-headline-3-spacing: -2%;

$token-type-headline-4-size: 1.25rem;
$token-type-headline-4-weight: 500;
$token-type-headline-4-height: 1.5rem;
$token-type-headline-4-spacing: -1%;

$token-type-subhead-1-size: 1rem;
$token-type-subhead-1-weight: 500;
$token-type-subhead-1-height: 1.5rem;
$token-type-subhead-1-spacing: -0.5%;

$token-type-button-1-size: 1rem;
$token-type-button-1-weight: 500;
$token-type-button-1-height: 1.5rem;
$token-type-button-1-spacing: -0.5%;

$token-size-avatar-medium-1: 3rem;
$token-size-avatar-large-1: 5rem;
